@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@keyframes colorChange {
    0% {
      color: white;
    }
    50% {
      color: blue;
    }
    100% {
      color: white;
    }
  }

  .yamaha-animation {
    animation: colorChange 2s ease-in-out infinite;
  }



  .triangle {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }